@import "./styles/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

* {
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

body {
  margin: 0;
  padding: 80px 0 40px 0;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  color: #555;
}

button {
  display: inline-block;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: RGB($theme-color);
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  transition-duration: 0.1s;
  cursor: pointer;

  &:hover {
    background-color: RGBA($theme-color, 0.8);
  }
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  .navbar-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbar-title {
      font-size: 24px;
      font-weight: 600;
      color: RGBA($theme-color, 0.8);
    }
  }
}
